:root{
    font-size: 12px;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #FF5B2F;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---------- Header* ---------- */
header{
    padding: 0 1rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    gap: 0.5rem;
    align-items:center;
}

#imgLogo{
    width: 5rem;
    height: 6rem;
}

#titleLogo{
    font-family: 'Jockey One', sans-serif;
    font-size: 3.5rem;

}

#buttons{
    width: auto;
    height: 65%;
    display: flex;
    gap: 1rem;
}

.button{
    padding: 1rem 2rem;

    border: none;
    border-radius: 5rem;
    opacity: 0.9;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

    cursor: pointer;
}

.button:hover{
    opacity: 1;
}

#btnCC{
    background-color: #FBFF2B;
}

/* ---------- Main---------- */
main{
    width: 100%;
    height: 100%;

    background-image: url("../images/landing_background.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.text{
    padding: 1rem 5%;
    width: 100;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

#btnPP{
    padding: 1.5rem 6rem;
    background-color: #FBFF2B;
}

#slogan{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#slogan p{
    margin: 0;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11rem;
    font-weight: 700;
}

#comment{
    width: 100%;
}

#comment p{
    margin: 0;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* ---------- Media querys ---------- */
/* -600 / 600-900 / 900-1200 / 1200-1500 / 1500+ */


@media (max-width: 600px) {

    /* ----- Header ----- */
    #titleLogo{
        font-size: 2rem;
    }

    .button{
        padding: 1rem 2.5rem;
        font-size: 1rem;
    }

    /* ----- Main ----- */

    #slogan p{
        font-size: 4.5rem;
    }

    #comment p{
        font-size: 1rem;
    }
}


@media (min-width: 601px) and (max-width: 900px) {
    /* ----- Header ----- */

    #titleLogo{
        font-size: 2.4rem;
    }

    .button{
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }

    /* ----- Main ----- */

    #slogan p{
        font-size: 5.5rem;
    }

    #comment p{
        font-size: 1.3rem;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {

    #slogan p{
        width: 100%;
        font-size: 8.2rem;
    }

    #comment p{
        font-size: 1.8rem;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {

    #slogan p{
        font-size: 10rem;
    }
}